# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# docs
PileGroupTool/

# SiteResponse
bin/
lib/
test/
VS/
.vscode/
*.ini
*.out
*.fig
*.user
*.psd


SiteResponse/bin/
Backup
Examples/out
Examples/Verifications
#Examples

resources/backupfiles

SiteResponse/EffectiveFEModel-backup.h
SiteResponse/EffectiveFEModel-backup.cpp

resources/ui/DinoRun/assets/default_100_percent-backup
resources/ui/DinoRun/assets/default_100_percent/*.psd

FEM/ManzariDafalias*
FEM/MultiYieldSurface*
FEM/PressureDependMultiYield*
FEM/PressureIndependMultiYield*
FEM/T2Vector*

Doc

resources/styles/dark.qss

docs/activatesphinx
docs/web
docs/_build
docs-docsify

Examples
icons

*.pyc

