/* ---   Styles for SRT    --- */
/* --- Written: charles.wang --- */



BonzaTableView
{
    selection-background-color: #f2ffcc;
    /*gridline-color: green;*/
    selection-color: black;

}


BonzaTableView::item:hover
{
    background-color: #ccff33;

}

QLineEdit
{
    selection-color: green
}

QGroupBox#groupBox_Graphic {
    /*background-color: green;*/
    /*border: 3px solid black;*/
}

QGroupBox {
    /*background-color: green;*/
    /*border: 3px solid black;*/

}


